@model PaginatedList<Order>

@{
    ViewData["Title"] = "Index";
}

@* @if (TempData["success"] != null)  -> napravili smo novi view (_Notiication) i sad njega mozemo da implmeniramo u sve view => <partil name="_Notification"/>
{
    <h2>@TempData["success"]</h2> -> success -> mora da ima isti tag name kao u contolleru
}

<partial name="_Notification" />  -> prebacili u _Layout view
 *@

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Orders List</h1>
        </div>

        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-warning"> <i class="bi bi-plus-circle-fill"> </i> &nbsp; Create New Order</a>
        </div>
        <div>
            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">
                Previous
            </a>

            <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">
                Next
            </a>
        </div>
    </div>
</div>


<div>
    <form asp-action="Index" method="get">
        <p>
            <label for="searchString">Search by DATA:</label>
            <input type="text" name="searchString" placeholder="Enter oID, City, Country..." />
            <input type="submit" value="Search" />
            <a asp-action="Index">Back to Full List</a>
        </p>
    </form>
</div>




<table class="table">
    <thead>
        <tr>
            <th>
                Orderid
            </th>
            <th>
                Orderdate
            </th>
            <th>
                Requireddate
            </th>
            <th>
                Shippeddate
            </th>
            <th>
                Freight
            </th>
            <th>
                Shipname
            </th>
            <th>
                Shipaddress
            </th>
            <th>
                Shipcity
            </th>
            <th>
                Shipregion
            </th>
            <th>
                Shippostalcode
            </th>
            <th>
                Shipcountry
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Orderid)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Orderdate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Requireddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shippeddate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Freight)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipaddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipcity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipregion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shippostalcode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Shipcountry)
                </td>
                <td>
                    @* Ovde definisemo path za action metode iz contolera - asp-route-id *@

                    <a asp-action="Edit" asp-route-id="@item.Orderid" class="bi bi-pencil-fill" style="width:50px"></a> @* ITEM je gore iz foreach petlje tj path*@
                    <a asp-action="Details" asp-route-id="@item.Orderid" class="bi bi-journal-text" style="width:50px"></a>
                    <a asp-action="Delete" asp-route-id="@item.Orderid" class="bi bi-trash3-fill" style="width:50px"></a>
                </td>
            </tr>
        }
    </tbody>
</table>



<a asp-action="Index" asp-route-pageNumber ="@(Model.PageIndex-1)" class ="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">
    Next
</a>

