@model IEnumerable<AtanaCompanyWeb.Models.OrderDetail>

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Order)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Unitprice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Discount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Order.Orderid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Unitprice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Qty)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Productid)
            </td>

                <td>
                    @* Ovde definisemo path za action metode iz contolera - asp-route-id *@

                    <a asp-action="Edit" asp-route-id="@item.Orderid" class="bi bi-pencil-fill" style="width:50px"></a>
                    <a asp-action="Details" asp-route-id="@item.Orderid" class="bi bi-journal-text" style="width:50px"></a>
                    <a asp-action="Delete" asp-route-id="@item.Orderid" class="bi bi-trash3-fill" style="width:50px"></a>
                </td>
        </tr>
}
    </tbody>
</table>
