@model PaginatedList<Supplier>

@{
    ViewData["Title"] = "Supplier";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}


<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h1>Supplier list</h1>
        </div>

        <div class="col-6 text-end">
            <a asp-action="Create" class="btn btn-warning">
                <i class="bi bi-plus-circle-fill"></i> &nbsp; Create New Supplier
            </a>
        </div>

        <div class="col-12 mt-2">
            <div class="d-flex justify-content-between">
                <div>
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-searchString="@ViewData["SearchString"]" class="btn btn-default @prevDisabled">
                        Previous
                    </a>

                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-searchString="@ViewData["SearchString"]" class="btn btn-default @nextDisabled">
                        Next
                    </a>
                </div>

                <div class="ml-auto">
                    <a asp-action="Index" class="btn btn-link">Back to Full List</a>
                </div>

                <div class="ml-auto">
                    <a asp-controller="Suppliers" asp-action="ExcelExport" class="btn btn-success" style="width: 150px">
                        ExportExcel
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container h-100">
    <form asp-action="Index" method="get" class="w-100">
        <div class="d-flex justify-content-center h-100">
            <div class="input-group">
                <input type="text" name="searchString" class="form-control" name="searchString" placeholder="Enter Custid, CompanyName, ContactName, City, Country, phone..." aria-label="Search" aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </div>
    </form>
</div>
<table class="table">
    <thead>
        <tr>
            <th>
                Companyname
            </th>
            <th>
                Contactname
            </th>
            <th>
                Contacttitle
            </th>
            <th>
                Address
            </th>
            <th>
                City
            </th>
            <th>
                Region
            </th>
            <th>
                Postalcode
            </th>
            <th>
                Country
            </th>
            <th>
                Phone
            </th>
            <th>
                Fax
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Companyname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contactname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contacttitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Postalcode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fax)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.Supplierid" class="bi bi-pencil-fill" style="width:50px"></a>
                    <a asp-action="Details" asp-route-id="@item.Supplierid" class="bi bi-journal-text" style="width:50px"></a>
                    <a asp-action="Delete" asp-route-id="@item.Supplierid" class="bi bi-trash3-fill" style="width:50px"></a>
            </td>
        </tr>
}
    </tbody>
</table>

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex-1)" class="btn btn-default @prevDisabled">
    Previous
</a>

<a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex+1)" class="btn btn-default @nextDisabled">
    Next
</a>
